body {
	font-size: 1em;
}

#container {
	float: left;
}

.header {
	height: 200px;
}

.header_menu {
	display: inline-block;
}

.header_menu img {
	width: 90px;
}

nav {
	width: 300px;
	height: 100%;
	position: absolute;
	transform: translate(-300px,0);
	transition: transfom 0.3s ease;
}

nav.open {
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}



.header_title {
	display: inline-block;
	position: absolute;
    right: 0;
    padding-right: 1em;
    font-size: 1.5em;
}

.project {
	border: 1px solid;
	width: 33%;
	float: left;
}

.main {
	border: 1px solid;
	height: 400px;
}