body {
	font-size: 1em;
}

#container {
	float: left;
}


.header_menu {
	display: inline-block;
}

.header_menu img {
	width: 90px;
}




.header_title {
	display: inline-block;
	position: absolute;
    right: 0;
    padding-right: 1em;
    font-size: 1.5em;
}

.project {
	width: 100px;
	float: left;
}