html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-size: 28px;
	color: #2d3c49;
	font-family: Copperplate, Helvetical, Arial;
	background-color: #ececec;
	display: flex;
}

.description {
    height: 100%;
}

.open {
	display: contents;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid;
    height: 10%;
}

.click_container {
	width: 15%;
}

.click_icon {
	width: 60%;
	height: 40%;
}

.logo_container {
	width: 15%;
}

.title_container {
	width: 70%;
}

.header_menu {
	width: 15%;
}

.header_menu img {
	width: 80px;
	height: 80px;
	margin-top: 35px;
}

.header_logo {
	width: 20%;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.7em;
}

img.logo {
	width: 100%;
	height: 100%;
}

a:link {
    text-decoration: none;
    font-size: 60%;
}

nav {
    width: 20%;
    background-color: #e1e1e1;
}

.nav__item {
    border-bottom: 2px solid #968d8d;
    height: 22%;
    height: 15%;
    margin-top: 53px;
    padding-left: 20px;
}

.header_title {
    text-transform: uppercase;
    font-size: .7em;
    text-align: right;
    width: 65%;
}

.content {
	display: flex;
	flex-direction: column;
}

.projects {
    height: 55%;
    color: #7d97ad;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project {
	width: 100%;
	text-align: center;
	color: #2d3c49;
}

img.project {
    width: 90%;
    padding-bottom: 5%;
}

.main {
	height: 35%;
    display: flex;
    flex-direction: column;
    background: url(../img/background.jpg);
    background-size: cover;
}

h3.projects_title {
    width: 100%;
    margin: 0;
}

.projects_container {
	display: flex;
	flex-direction: column;
}

.click_container {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo_container {
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	height: 60%;
}

.title_container {
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.title_text h1{
	margin: 0;
}

.title_text h4{
	margin: 0;
}

img {
	max-width: 100%;
}

.project_container {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projects_content {
	display: flex;
	flex-wrap: wrap;
}

.project_container a {
	font-size: 50%;
}

.menu_toggle {
	display: none;
}

.project_hide {
	display: none;
}

@media screen and (max-width: 319px){
	body {
		font-size: 12px;
	}

	.menu li {
	font-size: 60%;
	}

	.project a {
		font-size: 50%;
	}
}

@media screen and (min-width: 320px){
	body {
		font-size: 16px;
	}

	nav {
    	width: 170%;
	}

	.menu li {
	font-size: 60%;
	}

	.project a {
		font-size: 50%;
	}

	.project_container {
		width: 50%;
	}

	.project_container h3 {
		font-size: 1em;
	}

	.project_container a {
		font-size: 45%;
	}
}

@media screen and (min-width: 475px){

	.menu ul {
		font-size: 3em;
	}

	nav {
    	width: 100%;
	}
}


@media screen and (min-width: 750px){

	.project_container {
		width: 33%;
	}

	body {
		font-size: 20px;
	}

	nav {
		width: 85%;
	}
}

@media screen and (min-width: 1000px){

	.project_container {
		width: 25%;
	}

	body {
		font-size: 26px;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	nav {
		width: 62%;
	}

	.project_container h3 {
		font-size: .9em;
	}
}